/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Lakki+Reddy&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Header */
#heading {
    font-family: "Lacquer", serif;
    font-size: 10vh;
    text-align: center;
    padding-block: 15px;
    border-bottom: thin ridge #000;
}

/* Main section */
h2 {
    padding-top: 0.7em;
    font-size: 5vh;
    text-align: center;
}

#game-area img {
    max-width: 80vw;
    /*width: 70vw;
    height: 40vh;*/
    margin-block: 1.5em;
}

/* Word guess area */

#guess-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guess-area ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 5vw;
    margin-bottom: 2em;
    margin-top: 2em;
}

.letter {
    margin-right: 20px;
}

/*Score area */
#score-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Guidance and code for keyboard css from Youtube: https://www.youtube.com/watch?v=K7I0SJ86NvE */
#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-bottom: 0.8em;
    margin-inline: 0.1em;
    background-color: #ddd;
    border: none;
    font-family: sans-serif;
    width: 1.6em;
    height: 2.8em;
    font-size: 4vw;
}


/* How to play section */
#instructions {
    font-family: serif;
    background-color: #000;
    color: #ddd;
    padding-bottom: 0.3em;
}

p {
    font-size: 4vh;
}

#instructions ul {
    padding-inline: 2em;
}

#instructions li {
    font-size: 3vh;
    margin-bottom: 15px;
    text-align: center;
    list-style-type: none;
    padding: 5px;
}

/* Media queries */
/*Larger tablets and laptops in landscape mode*/
@media screen and (min-width: 768px) {
    
}


/*Most laptops and desktops*/
@media screen and (min-width: 1024px) {

    /* Game area */

    #game-area {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #game-area img {
        max-height: 60vh;
       /* width: 50vw;*/
        margin: 2em;
    }

    #guess-area {
        margin-top: 100px;
        justify-content: space-evenly;
    }

    #guess-area ul {
        margin-left: 2em;
        margin-block: 0;

    }

    /* Keyboard */
    .btn {
        font-size: 1.5vw;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    #game-area {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #game-area img {
        height: 70vh;
        width: 40vw;
        margin: 3em;
    }
    #keyboard {
        padding-block: 20% 10%;
    }
}