/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Lakki+Reddy&display=swap');

* {
    margin: 0;
    padding: 0;
}

#heading {
    font-family: "Lacquer", serif;
    font-size: 10vh;
    text-align: center;
    padding-block: 15px;
    border-bottom: thin ridge #000;
}

#instructions {
    text-align: center;
    font-family: "Lakki+Reddy", serif;
    margin-inline: 2em;
}

h2 {
    padding: 1em;
    font-size: 5vh;
}

p {
    font-size: 4vh;
}

li {
    font-size: 3vh;
    list-style-type: circle;
    margin-bottom: 10px;
}

#game-area img {
    max-width: 100vw;
}